%h1 
  %img{:src => "images/ruby_logo_50x50.gif"}
  Riverside Ruby

%p 
  Share ideas, code, and your love for Ruby. Show off your latest project, gems and plugins, or something you learned. 
  %strong
    Open to all skill levels,
  just show up and join the fun!

%h2 When

%p 
  We meet the last monday of each month at 7pm.

%h2 Where

%p 
  Coffee Depot (top floor)
  %br
  3204 Mission Inn Avenue
  %br
  Riverside, CA 92507
  %br
  %a{:href => "http://bit.ly/bZjtyr"}
    map

%h2 Links  
%ul
  %li
    %a{:href => "http://meetup.com/riversideruby"}
      Sign up on the Meetup Group
  %li
    %a{:href => "http://groups.google.com/group/riversideruby"}
      Join the Mailing List