%h2
  Next Meeting
  %span
    &rarr;
    <a href="http://www.meetup.com/riversideruby/calendar/">calendar</a>
  
%p
  Check out <a href="http://www.meetup.com/riversideruby/calendar/">the calendar</a> for the next meeting.
  
  
%h2 
  When
  %span
    &rarr; 8pm Last Monday of Month

%p 
  We meet the last monday of each month at 8pm. You can arrive an hour early if you would like. There's sometimes some people hacking.

%h2 
  Where
  %span
    &rarr; <a href="http://bit.ly/dE9wZ6">Scotty's House</a> in Riverside 
    
%p 
  Scotty's House
  %br
  7171 Orchard St
  %br
  Riverside, CA 92504
  %br
  %a{:href => "http://bit.ly/dE9wZ6"}
    map


%h2 Google Group
%p 
  Join the mailing list and ask your questions on the google group at
  %a{:href => "http://meetup.com/riversideruby"}
    http://meetup.com/riversideruby
    
%h2 IRC
%p 
  Hang out and chat on irc with us. irc.linkline.com #riversideruby

    
%h2 Other Links  
%ul
  %li
    %a{:href => "http://groups.google.com/group/riversideruby"}
      Join the Mailing List