%h2
  Next Meeting
  %span
    &rarr;
    <a href="http://www.meetup.com/riversideruby/calendar/">calendar</a>
  
%p
  Check out <a href="http://www.meetup.com/riversideruby/calendar/">the calendar</a> for the next meeting.
  
  
%h2 
  When
  %span
    &rarr; 8pm Last Monday of Month

%p 
  We meet the last monday of each month at 8pm. You can arrive early if you would like. There's usually some people hacking.

%h2 
  Where
  %span
    &rarr; <a href="http://bit.ly/bZjtyr">Coffee Depot</a> in Riverside 
    
%p 
  Coffee Depot (2nd floor)
  %br
  3204 Mission Inn Avenue
  %br
  Riverside, CA 92507
  %br
  %a{:href => "http://bit.ly/bZjtyr"}
    map

%h2 Links  
%ul
  %li
    %a{:href => "http://meetup.com/riversideruby"}
      Sign up on the Meetup Group
  %li
    %a{:href => "http://groups.google.com/group/riversideruby"}
      Join the Mailing List