!!!
%html
  %head
    %title Riverside Ruby
    / %link{:rel=>'stylesheet', :href=>'/stylesheets/index.css', :type => "text/css"}
    / %script{:type => "text/javascript", :src  => "/javascripts/jquery.js"}
    / %script{:type => "text/javascript", :src  => "/javascripts/index.js"}
  %body
    %h1 
      %img{:src => "images/ruby_logo_50x50.gif"}
      Riverside Ruby

    %p 
      Share ideas, code, and your love for Ruby. Show off your latest project, gems and plugins, or something you learned. 
      %strong
        Open to all skill levels,
      just show up and join the fun!
    = yield