!!!
%html
  %head
    %title Riverside Ruby
    %link{:rel=>'stylesheet', :href=>'/stylesheets/reset.css', :type => "text/css"} 
    %link{:rel=>'stylesheet', :href=>'/stylesheets/text.css', :type => "text/css"}
    %link{:rel=>'stylesheet', :href=>'/stylesheets/960.css', :type => "text/css"}
    %link{:rel=>'stylesheet', :href=>'/stylesheets/style.css', :type => "text/css"}
    / / javascripts
    / %script{:type => "text/javascript", :src  => "/javascripts/jquery.js"}
    / %script{:type => "text/javascript", :src  => "/javascripts/sammy.js"}
    / %script{:type => "text/javascript", :src  => "/javascripts/scroll_to.js"}
    / %script{:type => "text/javascript", :src  => "/javascripts/localscroll.js"}
    / %script{:type => "text/javascript", :src  => "/javascripts/index.js"}
  %body
    .container_12
      .grid_1 &nbsp;
      #content.grid_10
        #header
          #logo
            %img{:src => "/images/riversideruby-logo.png"}
        
        #next_meeting
        
        #group_msg
          %p 
            Share ideas, code, and your love for Ruby. Show off your latest project, gems and plugins, or something you learned. 
            %strong
              Open to all skill levels,
            just show up and join the fun!
        #page_content    
          = yield
      .grid_1 &nbsp;