%h3 Some of the members

%ul
  %li 
    %a{:href => "http://ericgiauque.com"} Eric Giauque
  %li
    %a{:href => "http://mengfung.com"} Meng Fung
  %li
    %a{:href => "http://github.com/ballou88"} Mike Ballou
  %li
    %a{:href => "http://spitfiresky.com"} Scott Motte